## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

In [ ]:
!pip install --upgrade pip
!pip install ruamel.yaml
!pip install jinja2
!pip install h5py
!pip install typing-extensions
!pip install wheel
!pip install pandas_profiling

In [ ]:
!pip uninstall markupsafe
!pip install markupsafe==2.0.1
Y

In [2]:
import numpy as np
import pandas as pd
import pandas_profiling as pp

In [3]:
# Use this cell to begin your analyses, and add as many cells as you would like!
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv')
parent_theme = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/parent_themes.csv')

In [11]:
parent_theme.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [59]:
df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [18]:
parent_theme.tail()

      id          name  is_licensed
106  605  Nexo Knights        False
107  606   Angry Birds         True
108  607  Ghostbusters         True
109  608        Disney         True
110  610    Brickheadz        False

In [16]:
parent_theme.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           111 non-null    int64
 1   name         111 non-null    object
 2   is_licensed  111 non-null    bool
dtypes: bool(1), int64(1), object(1)
memory usage: 2.0+ KB

In [6]:
df.describe()

               year    num_parts
count  11986.000000  6926.000000
mean    2002.304772   163.782558
std       13.471680   334.206873
min     1950.000000    -1.000000
25%     1997.000000    10.250000
50%     2006.000000    46.000000
75%     2013.000000   173.000000
max     2017.000000  5922.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11986 entries, 0 to 11985
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   name          11833 non-null  object
 2   year          11986 non-null  int64
 3   num_parts     6926 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11986 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 562.0+ KB

In [10]:
profile = pp.ProfileReport(df, title="Pandas Profiling Report")
profile.to_file("lego_pp_20220819.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

#### 异常值

num_parts 存在3个负数

#### 缺失值

num_parts 缺失 5060行，占42%；

set_num, name, theme_name 缺失 153行, 占3.3%；

# Q1. What % of all licensed sets ever released were Star Wars themed?

relevant skills: joining tables, filter rows

In [85]:
merged_df = pd.merge(df, parent_theme, how = 'left', left_on = 'parent_theme', right_on = 'name')
merged_df.tail()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
11981,NaN,NaN,2014,NaN,NaN,Minecraft,577,Minecraft,True
11982,NaN,NaN,2006,NaN,NaN,Super Heroes,482,Super Heroes,True
11983,NaN,NaN,2017,NaN,NaN,Minecraft,577,Minecraft,True
11984,NaN,NaN,2017,8.0,NaN,Super Heroes,482,Super Heroes,True
11985,NaN,NaN,2003,NaN,NaN,Harry Potter,246,Harry Potter,True

In [86]:
merged_df.drop(columns = 'name_y', inplace = True)

In [87]:
licensed_df = merged_df[merged_df['is_licensed'] == True].reset_index(drop = True)
licensed_df.tail()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
1327,NaN,NaN,2014,NaN,NaN,Minecraft,577,True
1328,NaN,NaN,2006,NaN,NaN,Super Heroes,482,True
1329,NaN,NaN,2017,NaN,NaN,Minecraft,577,True
1330,NaN,NaN,2017,8.0,NaN,Super Heroes,482,True
1331,NaN,NaN,2003,NaN,NaN,Harry Potter,246,True

In [88]:
star_wars_licenced = licensed_df[['parent_theme','id']].groupby('parent_theme').agg(func = 'count').sort_values(by=['id'], ascending=False).reset_index(drop = False)
star_wars_licenced = star_wars_licenced[star_wars_licences['parent_theme'] == 'Star Wars']
star_wars_licenced.rename(columns = {'id':'freq'}, inplace = True)
star_wars_licenced

  parent_theme  freq
0    Star Wars   609

In [89]:
print(
     str(
        round(
            100*star_wars_licenced[star_wars_licenced['parent_theme'] == 'Star Wars']['freq'][0]
            /
            len(licensed_df)
            ,0
             )
        )[:-2] # remove '.0' in 46.0
        + '% of all licensed sets ever released were Star Wars themed'
     )

46% of all licensed sets ever released were Star Wars themed

# Q2. In which year was Star Wars not the most popular licensed theme (in terms of number of sets released that year)

relevant skills: windows function in pandas

In [90]:
licensed_df

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
1,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
2,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
4,10075-1,Spider-Man Action Pack,2002,25.0,Spider-Man,Super Heroes,482,True
...,...,...,...,...,...,...,...,...
1327,NaN,NaN,2014,NaN,NaN,Minecraft,577,True
1328,NaN,NaN,2006,NaN,NaN,Super Heroes,482,True
1329,NaN,NaN,2017,NaN,NaN,Minecraft,577,True
1330,NaN,NaN,2017,8.0,NaN,Super Heroes,482,True
1331,NaN,NaN,2003,NaN,NaN,Harry Potter,246,True

In [92]:
year_theme_ranking = licensed_df[['year','parent_theme','id']].groupby(['year','parent_theme']).agg(func = 'count').sort_values(by=['year','id'], ascending=False).reset_index(drop = False)
row_number = year_theme_ranking.groupby(['year']).cumcount() + 1
year_theme_ranking['within_year_ranking'] = row_number
year_theme_ranking.head()

   year              parent_theme   id  within_year_ranking
0  2017              Super Heroes  103                    1
1  2017                 Star Wars   55                    2
2  2017                 Minecraft   13                    3
3  2017           Disney Princess    7                    4
4  2017  Pirates of the Caribbean    1                    5

In [93]:
year_theme_ranking[year_theme_ranking['within_year_ranking'] == 1][year_theme_ranking['parent_theme'] != 'Star Wars']

/var/folders/nr/yx9j5bns6rsdkxq34wbkwm2c0000gn/T/ipykernel_33595/623648982.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  year_theme_ranking[year_theme_ranking['within_year_ranking'] == 1][year_theme_ranking['parent_theme'] != 'Star Wars']

    year  parent_theme   id  within_year_ranking
0   2017  Super Heroes  103                    1
69  2004  Harry Potter   21                    1
78  2001  Harry Potter   14                    1

# in year of 2001, 2004, 2017, Star Wars was not the top selling theme